<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<title>Naty 403</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>		
		<link href="#" th:href="@{/css/style.css}" rel="stylesheet"/>
		
	</head>
	
	<body>

		<div class="container text-center">
	
			<h3>Usuario no autorizado</h3>
			<img src="../static/imgs/403.jpg" th:src="@{/imgs/403.jpg}" class="img-responsive"/>
			
		</div>	

	<!--  
		<div class="container">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Go
				back</button>
		</div>
		
		-->

		<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
	</body>
	
</html>

