<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>

    <title>Naty Spring</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/login.css}" rel="stylesheet" />
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />

  </head>

  <body>

    <div class="container">

      <form class="form-signin" action="#" th:action="@{/checkLogin}" th:object="${credencialesFormulario}" method="post">
        <h2 class="form-signin-heading">Login</h2>
        <label for="inputEmail" class="sr-only">Usuario</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Nombre usuario" th:field="*{nombreUsuario}"/>
        <label for="inputPassword" class="sr-only">Contrase&ntilde;a</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" th:field="*{passUsuario}"/>
        <!-- th:if="${error != null}"  ->  condicion if mediante spring thymeleaf     -->
        <div th:if="${error != null}" class="alert alert-danger" role="alert">Usuario o contrase&ntilde;a incorrectas.</div>
        <!-- th:if="${logout != null}"  ->  condicion if mediante spring thymeleaf     -->
        <div th:if="${logout != null}" class="alert alert-info" role="alert">Logout correcto.</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
        	<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Entrar
        </button>
      </form>

    </div> <!-- /container -->
</body>
</html>